@font-face {
    font-family: 'Mulish';
    src: url('Mulish-Bold.woff2') format('woff2'),
        url('Mulish-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Mulish';
    src: url('Mulish-Medium.woff2') format('woff2'),
        url('Mulish-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Mulish';
    src: url('Mulish-Regular.woff2') format('woff2'),
        url('Mulish-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Mulish';
    src: url('Mulish-Light.woff2') format('woff2'),
        url('Mulish-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

